@charset "utf-8";
*{
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
      margin:0;
  padding: 0;
}
html, body{
    overflow-x: hidden;
}
body {
    margin: 0;
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 50px; /* 高さを50pxに指定 */
    padding: 50px 0px; /*ヘッダーに上下左右それぞれ余白を指定*/
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
    background-color:#E9FEFF;
}
.techlogo{
    margin-right: 0px;
    height: 100px;
    background-color: #E2E2E2;
    width: 100px;
    text-align: center;
}

header .divmenu .menu li + li {
    margin-left: 60px; /* メニューそれぞれに間隔をあけるため */
}
.menu{
    background-color: #BAF3FC;
}
main {
    height: 100vw; /* スクロールの演出を見れるようにmainに高さを指定 */
    width: 100%;
}
.divmenu{
    margin-bottom: 50px;
}
.menu{
position: absolute;
display: flex;
right: 30px;
justify-content:space-between;
margin: 0px 30px 0px 0px;
width: 600px;
height: 50px;
list-style: none;
align-items: center;
padding-right: 60px;
border-radius: 10px;/*角の丸み*/
padding-left: 50px;
}
.body{
    color: #BAF3FC;
}
.skillall{
    display: flex;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.skillinfo1{
    padding-left: 150px;
    font-weight: bold;
}
.skillinfo2{
    padding-left: 50px;
    font-weight: bold;
}
.skillinfo3{
    font-weight: bold;
}
.content{
    padding-top: 90px;
    width: 100%;
}
.box {
    width: 1100px;
    height: 180px;
    margin: 2em auto 0  auto;
    font-weight: bold;
    border: solid 3px #E9FEFF;/*線*/
    border-radius: 20px;/*角の丸み*/
    background-color: #E9FEFF;
    text-align: center;
    font-size: 24px;
}
h2{
    text-align: center;
    margin-top: 40px;
    font-size: 64px;
    font-weight: bold;
}
h3{
    text-align:center;
    font-size: 24px;
    margin: 16px 0 16px 0;
}
.profile {   
    width: 70em;
    height:20em;
    font-weight: bold;
    border: solid 3px #E2E2E2;/*線*/
    border-radius: 20px;/*角の丸み*/
    background-color: #E2E2E2;
    margin-left: 200px;
    display: flex;
}

.mypro{
    display: block;
    margin: 0;
    padding-top: 50px;
    padding-left: 65px;
    font-size: 24px;
}
img.profile{
    width: 200px;

}
img.pct1{
    margin-top: 20px ;
    margin-left: 25px;
    width: 200px;
    height:270px;
    border-radius: 20px;/*角の丸み*/
}
h4{
    font-size: 24px;
    text-align: center;
    margin: 24px 0 16px 0;
}
ul{
    font-weight: bold;
    display:flex;
    justify-content: center;
}
.skill{
    margin-left: 650px;
    width: 200px;
    height: 200px;
}
#l2{
    padding-left: 50px;
}
#l3{
    padding-left: 200px;
    padding-right: 80px;
    height: 150px;
    margin-top: 40px;
}
#l4{
    padding-left: 160px;
    height:150px;
    margin-top: 40px;
}
.content{
    background-color:#BAF3FC ;
}
h5{
    font-size: 24px;
    margin:24px;
    text-align: center;
    font-weight: bold;
}
.production{
    border: solid 3px #E2E2E2;
    border-radius: 20px;
    background-color: #E2E2E2;
    display: flex;
    margin: 50px 100px 100px 100px;
    justify-content: space-between;
    padding: 150px 150px 50px 150px;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px ;
}
.gla1{
    height: 400px;
    width: 400px;
    border-radius: 10px;/*角の丸み*/
}
.pdt1{
width: 100%;
height: 100%;
object-fit: cover;
object-position: 30% 0%;
border-radius: 10px;/*角の丸み*/
}
/* .production img {
    text-align: center;
    flex: 1;
    margin: 100px;
    max-width: 30%;
    /* height: auto;
}*/
.btn{
    margin-bottom: 0;
    margin-top: 0px;
    margin-left: auto;
    text-align: bottom;
    display: inline-block;
    background-color: #fff;
    border: solid 2px #BAF3FC;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;     
    transition: all .3s ease 0s;
}
.btn:hover {
    color: black;
    background-color: #fff;
    transform: scale(1.2);
  }

.sns{
    margin-left: 200px;
    width: 1100px;
    margin-top: 70px;
    /* margin-bottom: 50px; */
    height:250px;
    border: solid 3px #E2E2E2;/*線*/
    border-radius: 8000px;/*角の丸み*/
    background-color: #E2E2E2;

}
.flex{
    margin-bottom:0px;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 0px;
    justify-content:space-between ;
    display: flex;
    align-items: center; /* 子要素を縦方向の中心に揃えます */

}
.snslogo{
    width: 150px;
    height: 150px;
    margin:20px 0 0 0;
    border-radius: 100%;
}   
.sns p{
    text-align: center;
    margin: 30px;
}
footer{
    margin: 0;
    text-align: center;
}
.kuuhaku{
    padding: 5px;
}